@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// .sponsors-div {
//   display: inline-block;
//   width: 50%;
//   overflow: hidden;
//   justify-content: center;
//   align-items: center;
//   margin-bottom: 2.5rem;
//   marquee {
//     overflow: hidden;
//     white-space: nowrap;
//   }
// }
// .partner-image {
//   margin: 0;
//   max-width: 200px;
//   max-height: 100px;
//   padding: 0.5rem 0;
//   margin: 0.5rem;
// }

.carousel-outer {
  // width: 60%;
  // max-width: 80%;
  margin: 0 auto 0 auto;
  // display: inline-block;
  // border: solid #707070 0.1rem;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  height: 60vh;
  // padding: 2rem 0 1rem;
  // -webkit-box-shadow: 10px 10px 10px 1px rgba(189, 185, 189, 0.73);
  // -moz-box-shadow: 10px 10px 10px 1px rgba(189, 185, 189, 0.73);
  // box-shadow: 10px 10px 10px 1px rgba(189, 185, 189, 0.73);
  width: 90%;
}
.carousel-container {
  display: flex;
  align-items: center;
  // justify-content: center;
  // flex-direction: column;
  // margin-top: -7.5px;
  // background-color: var(--theme-background-darker);
  padding: 18px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px 3px #5a5a5a;
  border-radius: 10px;
}

.heading {
  color: var(--theme-color);
  padding-left: 20px;
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 30px;
  letter-spacing: 0.02em;
}
.carousel-inner-left {
  max-width: 60%;
  padding-bottom: 30px;
  height: 90%;
  margin: 0 3rem;
  overflow: hidden;
  img {
    height: 3rem;
    width: 3rem;
  }
}

.carousel-data {
  // display: block;
  padding-top: 1rem;
  margin: auto;
  font-size: 1.2rem;
  // height: 100%;

  p {
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.01em;
    text-align: justify;
    // padding: 0 1rem;
    display: flex;
    // align-items: center;
    // height: 70%;
  }
  &.carousel-animate {
    animation-name: fadeInOut;
    animation-duration: 0.5s;
  }
}

.data-bottom-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0;
  text-align: center;
  height: 20%;
  position: relative;
  bottom: 5px;

  img {
    display: block;
    margin: auto;
    border: solid #707070 0.1rem;
    padding: 0.25rem;
    height: 75px;
    width: 75px;
  }

  h4 {
    font-weight: 500;
  }
}

.carousel-inner-right {
  // display: flex;
  justify-content: center;
  // flex-direction: column;
  max-width: 40%;
  // position: relative;
  height: 70%;
  margin-top: 5vh;
  overflow: hidden;
  img {
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
  }
}

.carousel-inner-right > img {
  // position: absolute;
  display: block;
  border: solid #707070 0.1rem;
  padding: 0;
  height: 240px;
  width: 240px;
}

.arrow-buttons {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-around;
  margin-left: 8vh;
}

.left-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #a0021d;
  border: 2px solid #8f0219;
  box-shadow: 1px 1px 3px #690415;
  margin-right: 12px;
  // position: absolute;
  // left: calc(0% - 2.75rem);
  // top: 50%;
  // transform: translateY(-50%);
  img {
    width: 5rem;
    height: 5rem;
  }
}

.left-button:hover {
  cursor: pointer;
  background-color: #8f031a;
  border: 2px solid #7c0216;
  box-shadow: 1px 1px 4px #640112;
}

.right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a0021d;
  border: 2px solid #8f0219;
  box-shadow: 1px 1px 3px #690415;
  img {
    width: 5rem;
    height: 5rem;
  }
}

.right-button:hover {
  cursor: pointer;
  background-color: #8f031a;
  border: 2px solid #7c0216;
  box-shadow: 1px 1px 4px #640112;
}

@media only screen and (max-width: 1024px) {
  .carousel-outer {
    margin: 0 auto 0 auto;
    height: auto;
    width: 90%;
  }

  .carousel-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .carousel-inner-left {
    max-width: 100%;
    padding-bottom: 10px;
    height: 2%;
  }
  .carousel-data {
    padding: 0;
  }
  .carousel-inner-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    padding-bottom: 20px;
    // position: absolute;
    height: 30%;
  }

  .arrow-buttons {
    display: flex;
    justify-content: space-around;
  }

  // .sponsors-div {
  //   width: 90%;
  // }
}

@media only screen and (max-width: 768px) {
  .carousel-outer {
    width: 95%;
  }

  .carousel-inner-left {
    margin: 0 1rem;
  }

  .heading {
    font-size: 2.5rem;
  }
}
