@import 'variables';

.footer {
  background: url('/essential_SVG/footer_base.svg') center no-repeat;
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  // padding: {
  //   right: 15px;
  //   left: 15px;
  // }
  // @media only screen and (min-width: 800px) {

  // @media only screen and (min-width: 800px) {

  // height: 20vh;
  //   // padding: {
  //   //   right: 50px;
  //   //   left: 50px;
  //   // }
  // }
}

.menu {
  width: 80%;
  li {
    margin-bottom: 2%;
    list-style: none;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.contact {
  li {
    list-style: none;
    margin-bottom: 4%;
    a {
      text-decoration: none;
      color: white;
      padding-left: 4%;
    }
    span{
      color: white;
      padding-left: 4%;
    }
  }
}

.footer-list {
  width: 60vw;
  display: flex;
  align-items: center;

  // .menu {
  //   padding-right: 50px;
  // }
  .contact {
    width: 100%;
  }
}
.socials {
  display: flex;
  width: 100%;
  justify-content: center;
  a {
    padding-right: 5%;
  }
  // img {
  //   width: 2.4rem;
  //   height: 45px;
  // }
}
.socials > .heading {
  font-size: 2.5rem;
  font-weight: 700;
  padding-left: 2.5rem;

  hr {
    width: 2em;
    height: 0.5rem;
    background-color: #000;
    border-radius: 1rem;
  }
}

.badges {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: {
    right: auto;
    left: auto;
  }
  padding-top: 1rem;
  list-style-type: none;

  @media only screen and (min-width: 800px) {
    width: 75%;
  }
}

.badges img {
  width: 1.3rem;
  margin-right: 8px;
  height: 25px;
}

.badges a {
  display: flex;
  background-color: #fff;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  padding: 2px 5px;
  margin: 8px 3px;
  border: 2px solid #000;
  text-decoration: none;
  color: #000;

  @media only screen and (min-width: 800px) {
    margin: {
      right: 20px;
      left: 20px;
    }
    padding: {
      right: 10px;
      left: 10px;
    }
    font-weight: 500;
    border-width: 3px;
  }
}

.partner-logo {
  display: block;
  margin: auto;
  text-align: center;
  padding: 25px 0;

  img {
    max-width: 250px;
    max-height: 250px;
  }
}
