@import 'variables';

.footer {
  background: url('/images/home/footer.svg') bottom no-repeat;
  background-size: cover;
  background-color: #0c314a;
  padding: 40px 0 220px 0;
  display: flex;
  justify-content: center;
}

.menu {
  li {
    margin-bottom: 2%;
    list-style: none;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.contact {
  li {
    list-style: none;
    margin-bottom: 4%;
    display: flex;
    a {
      text-decoration: none;
      color: white;
      padding-left: 4%;
    }
    span {
      color: white;
      padding-left: 4%;
    }
  }
}

.footer-list {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // .menu {
  //   padding-right: 50px;
  // }
}
.socials {
  display: flex;
  justify-content: center;
  a {
    padding-right: 5%;
  }
  // img {
  //   width: 2.4rem;
  //   height: 45px;
  // }
}
.socials > .heading {
  font-size: 2.5rem;
  font-weight: 700;
  padding-left: 2.5rem;

  hr {
    width: 2em;
    height: 0.5rem;
    background-color: #000;
    border-radius: 1rem;
  }
}

@media only screen and (max-width: 1440px) {
  .footer-list {
    min-width: 80vw;
  }
}

@media only screen and (max-width: 768px) {
  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    padding-top: 50px;
  }
  .menu {
    padding-bottom: 20px;
  }
  .contact {
    padding-bottom: 40px;
  }
}
