@import 'variables';

.row {
  display: flex;
}

.left-col-btns {
  width: 30%;
  align-items: center;
}

.left-col-img {
  width: 35%;
}

.left-col-img img {
  width: 100%;
  margin-bottom: 0;
}

.landing-container {
  padding-top: 10vh;
  padding-right: 3vw;
  padding-left: 3vw;
}

.welcome-container {
  min-height: 100vh;
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;
  background-color: var(--theme-background-darker);
  color: var(--theme-color);

  .welcome-left {
    margin-left: 7vw;
    max-width: 60%;
  }
  .welcome-left div {
    display: flex;
  }

  .welcome-title-container {
    margin-bottom: 40px;
    margin-top: 60px;
    .welcome-title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 2.8rem;
      padding-left: 2%;
    }
  }

  .landing-text {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
  }

  .welcome-right img {
    position: absolute;
    top: -55px;
    left: 150px;
    width: 88%;
    height: 100vh;
  }

  .sign-in-buttons {
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .sign-in-buttons button {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    border-radius: 1000px;
    border: none;
    width: 220px;
    min-height: 50px;
    justify-content: space-evenly;
    align-items: center;

    box-shadow: 1px 1px 3px rgb(90, 90, 90);
  }

  .sign-in-buttons button:hover {
    cursor: pointer;
  }

  .sign-in-buttons button:focus {
    outline: none;
  }

  .sign-in-buttons button img {
    width: 10%;
    height: 100%;
  }

  .sign-in-buttons button p {
    font-size: small;
  }

  .github-button {
    background-color: #ffaa1d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.02em;
  }
}

.email-button:hover {
  background-color: #ce0707;
}
.google-button:hover {
  opacity: 0.7;
}
.github-button:hover {
  background-color: #3f3f3f;
}

.email-button {
  background-color: #eb0606;
  color: white;
}

.google-button {
  background: #30d5ff;
  color: white;
}

.home-right-col {
  width: 35%;
}

.home-right-col img {
  width: 100%;
}

/* ABOUT SECTION */

.about-us-container {
  color: var(--theme-color);
  max-width: 80%;
  text-align: justify;
  margin: -160px auto 0 auto;
}

.about-us-container h1 {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 30px;
  letter-spacing: 0.02em;
}

.about-us-text {
  display: flex;
  padding-left: 4vw;
}

.about-us-container p {
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.01em;
}

/* HOW OSC WORKS SECTION */

.how-container {
  margin: -5px auto 0 auto;
  padding: 2vh 50px 5vh 0;
  color: var(--theme-color);
  text-align: justify;
  max-width: 80%;
}

.how-container h1 {
  font-weight: 800;
  font-size: 3rem;
  padding-bottom: 50px;
  letter-spacing: 0.02em;
}

.how-container p {
  font-weight: 400;
  font-size: 1.3rem;
  padding-left: 4vw;
  letter-spacing: 0.01em;
  padding-right: 5%;
}

// .how-bottom-row {
//   padding: 80px 40px 60px 40px;
//   justify-content: space-evenly;
//   display: flex;
//   text-align: center;
// }

// .how-card {
//   max-width: 20%;
//   border-radius: 15%;
//   box-shadow: $box-shadow-light;
//   @include padding-all(40px, 20px, 40px, 20px);
// }

// .how-card-img-container {
//   display: inline-flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 50%;
//   height: 70px;
//   width: 70px;
//   margin-bottom: 30px;
// }

// .how-card img {
//   max-width: 35px;
// }

// .how-card h3 {
//   font-size: 1.5rem;
//   color: #1583cc;
//   padding-bottom: 30px;
// }

// .how-card p {
//   font-weight: 200;
// }

/* Help Us Section  */

.help-us-container {
  padding-top: 60px;
  margin: 0 auto 10vh auto;

  background-color: var(--theme-background-darker);
  color: var(--theme-color);
  max-width: 80%;
  text-align: justify;
}

// .help-us-container img {
//   max-width: 100%;
//   padding-left: 50px;
// }

.help-us-text {
  text-align: justify;
  margin: 0 auto 0 auto;
  padding-left: 4vw;
}

.help-us-container h1 {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 30px;
}

.help-us-text p {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.01em;
}

.donateButton {
  margin: 0.5rem auto;
  border-radius: 10rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  color: #fff;
  background: #ffaa1d;
  box-shadow: 1px 1px 3px rgb(90, 90, 90);
  font-weight: 600;
  letter-spacing: 0.02em;
}

.donateButton:hover {
  cursor: pointer;
  background: #3f3f3f;
}

.donateButton:disabled {
  background-color: #6d6d6d;
  cursor: initial;
}
/* Adding media querries */
@media screen and (max-width: 560px) {
  .welcome-right {
    // max-width: 100% !important;
    display: none;
  }
  .welcome-left {
    position: absolute;
    max-width: 100%;
    max-height: 30vh;
    top: 2vh;
  }
  .welcome-title {
    width: 100vw;
    text-align: left;
  }
  .landing-text {
    width: 80vw;
    text-align: justify;
    padding-left: 30px;
    margin-right: 0;
  }

  .github-button {
    margin: 0 auto 0 auto;
  }
}

@media screen and (max-width: 990px) {
  .logo {
    display: flex;
    justify-content: space-between;
  }

  .icon {
    display: block;
  }

  .links {
    display: none;
    flex-direction: column-reverse;
  }

  .links a {
    font-weight: 400;
    display: block;
  }

  .header-profile-dropdown {
    right: unset;
    left: 0;
  }

  .landing-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .row {
    flex-direction: column-reverse;
  }

  .row div {
    width: 100%;
  }

  .home-right-col img {
    width: 70%;
    margin-top: 100px;
    padding-right: 0;
    margin-right: 15%;
    margin-left: 15%;
  }

  .landing-text {
    font-size: 1rem;

    text-align: center;
  }

  .welcome-title {
    width: 100%;
    text-align: left;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2.2rem;
  }
  .welcome-container {
    min-height: 40vh;
    padding-left: 15px;
  }
  .welcome-left {
    max-width: 50%;
    margin-top: 160px;
    height: 36vh;
  }

  .welcome-right img {
    position: absolute;
    top: 200px;
    left: 150px;
    width: 80%;
    height: 33vh;
  }

  .sign-in-buttons {
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 30px;
  }

  .email-section {
    max-width: 100%;
  }

  .email-section h3 {
    text-align: center;
  }

  .about-us-container {
    margin-top: -5px;
    flex-direction: column;
  }
  .about-us-container div {
    max-width: 100%;
    text-align: center;
  }

  // .about-left-col img {
  //   padding-left: 0;
  // }

  .about-us-container > h1 {
    line-height: 60px;
    font-size: 3.5rem;
  }

  .about-us-text > p {
    text-align: justify;
    font-size: 1.2rem;
  }

  .how-container {
    padding: 50px 0px;
  }

  .how-top-row {
    text-align: center;
    flex-direction: column-reverse;
  }

  .how-top-row div {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .how-container > h1 {
    line-height: 50px;
    font-size: 3.5rem;
  }

  .how-container > p {
    font-size: 1.2rem;
    text-align: justify;
  }

  // .how-top-right-col {
  //   margin-bottom: 50px;
  // }

  // .how-bottom-row {
  //   flex-direction: column;
  //   padding-left: 20px;
  //   padding-right: 20px;
  //   padding-top: 50px;
  // }

  // .how-card {
  //   max-width: 100%;
  //   margin-left: auto;
  //   margin-right: auto;
  //   margin: 20px;
  //   margin-right: auto;
  //   margin-left: auto;
  // }

  .help-us-container {
    flex-direction: column;
  }
  .help-us-container div {
    max-width: 100%;
    text-align: center;
  }

  .help-us-container h1 {
    line-height: 60px;
    font-size: 3.5rem;
  }

  .help-us-text p {
    width: 100%;
    text-align: justify;
    font-size: 1.25rem;
  }
  // .help-us-left-col {
  //   padding-bottom: 50px;

  //   margin-right: auto;
  //   margin-left: auto;
  // }

  // .help-us-left-col img {
  //   padding-left: 0;
  // }
}
