.container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
}

.top{
  transform: rotate(-135deg);
}

.container > button > i{
  border: solid #fff;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
}

.container > button {
  background-color: #e48e00;
  border: 1.5px solid #fff ;
  width: 50px;
  height:55px;
  border-radius: 10px;
  padding-top: 15px;
}


.container > button:hover {
  background-color: #b1102b;
  box-shadow: 0 2px 4px 0 #fff, 0 6px 14px 0 #c2c2c2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
